<form [formGroup]="formArticulo">
    <div class="form-group">
        <label>Codigo</label>
        <input type="text" class="form-control" formControlName="codigo">
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" class="form-control" formControlName="descripcion">
    </div>
    <div class="form-group">
        <label>Precio</label>
        <input type="text" class="form-control" formControlName="precio">
    </div>
    <div class="form-group">
        <label>Imagen</label>
        <input type="text" class="form-control" formControlName="imagen">
    </div>
    <div class="form-group">
        <label>Stock</label>
        <input type="text" class="form-control" formControlName="stock">
    </div>
    <div class="form-group">
        <label>Sucursal</label>
        <select class="form-select" aria-label="Default select example" formControlName="tiendaId">
            <option selected>Selecciona una tienda</option>
            <option *ngFor="let item of listTiendas" [value]="item['id']">{{ item['sucursal'] }}</option>
        </select>
    </div>
    
    <button type="button" class="btn btn-primary" (click)="saveData()">Submit</button>
</form>
